@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #FFFFFF;
  padding: 20px
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  background-color: white;
}

/* Store name stays left and scales */
#store-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Nav links centered with space between */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
a {
  margin: 0;
  text-decoration: none;
  color: black;
}

a:visited {
  color:black;
}

.matcha-wrapper{
  text-align: left;
}
.responsive-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 20px;
  display: inline-block;
  margin: 20px auto;
}

.order-box {
  position: absolute;
  top: 30%;         /* Adjust vertical placement */
  left: 55%;        /* Adjust horizontal placement */
  background-color: #DBFFD4;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  border-radius: 12px;
  height: 220px;
  width:559px;
  z-index: 2;    
  max-width: 300px;
}

#order{
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

#order-btn{
  border: none;
  background-color: black;
  color:white;
  height: 50px;
  width: 140px;
  border-radius: 8px;
  top: 60%;
  cursor: pointer;
}

#order-btn:hover{
  background-color: #2b2c2b;
}

.favorites{
  padding-top: 20px;
}
#popular-txt{
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  letter-spacing: -0.7px;
  font-weight: bold;
  text-align: center;
}

.popImgs {
  display: flex;
  justify-content: center;
  gap: 100px; /* space between image blocks */
  flex-wrap: wrap; /* allows wrapping on small screens */
}

.pop-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pop-img {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 10px; /* optional styling */
}

.caption {
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
