@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #FFFFFF;
  padding: 20px
}
.navbar {
  display: flex;
  justify-content: center; /* Center the nav-links */
  align-items: center;
  height: 70px;
  position: relative;
  border-bottom: 1px solid #ccc; /* Optional */
  background-color: white;       /* Optional */
}

/* Top left: absolutely positioned */
#store-name {
  position: absolute;
  left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* Centered nav links */
.nav-links {
  display: flex;
  gap: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
a {
  margin: 0;
  text-decoration: none;
  color: black;
}

a:visited {
  color:black;
}

.matcha-wrapper{
  text-align: left;
}
.responsive-img {
  width: 100%;
  max-width: 1004px;
  height: auto;
  border-radius: 20px;
  display: inline-block;
  margin: 20px auto;
}

.order-box {
  position: absolute;
  top: 30%;         /* Adjust vertical placement */
  left: 55%;        /* Adjust horizontal placement */
  background-color: #DBFFD4;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  border-radius: 12px;
  height: 220px;
  width:559px;
  z-index: 2;    
  max-width: 300px;
}

#order{
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

#order-btn{
  border: none;
  background-color: black;
  color:white;
  height: 50px;
  width: 140px;
  border-radius: 8px;
  top: 60%;
  cursor: pointer;
}

#order-btn:hover{
  background-color: #2b2c2b;
}

.favorites{
  padding-top: 20px;
}
#popular-txt{
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  letter-spacing: -0.7px;
  font-weight: bold;
  text-align: center;
}